.dashboard-page {
  padding: 24px;
}

.dashboard-page h2 {
  font-size: 24px;
  font-weight: 600;
  color: rgb(45, 96, 45);
  margin: 0 0 8px 0;
}

.dashboard-page p {
  color: rgb(59, 77, 32);
  margin: 0;
}
