/* Login Specific Styles */

.login-forgot-password {
  text-align: left;
  color:#000000;

}

.login-forgot-password a {
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}

.login-forgot-password a:hover {
  color: #16a34a;
}

.login-submit-button {
  width: 100%;
  background-color: #014023;
  color: white;
  font-weight: 600;
  padding: 0.875rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 0.5rem;
}

.login-submit-button:hover {
  background-color: #15803d;
}
